{% extends "template.html" %}
{% block title %}
Categoria
{% endblock %}
{% block main %}
<div class="return-page">
    <a href="{% url "index" %}" id="return-icon"><i class="fa-solid fa-arrow-left" aria-hidden=true ></i></a>
 </div>
<div class="container mt-5">
    <h2>Cadastrar Categoria </h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    {% if categorys %}
        <h3 class="mt-5">Lista de Categorias</h3>
        <ul class="list-group mt-3">
            {% for category in categorys %}
            <li id="category-{{category.id}}" class="list-group-item">
                <div>
                    Nome: {{ category.name }} <br> Decrição: {{ category.description }} <br> Criado em: {{ category.created_at|date:"d/m/Y" }}
                </div>
                <div>
                    <a class="edit-category ed" href="{% url "edit_category" category.id %}" data-category="{{category.id}}">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <span data-category="{{category.id}}" class="remove-category rm" id="remove-{{category.id}}">
                        <i class="fa-solid fa-x"></i>
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% else %}
    <h3 class="mt-5">Nenhuma categoria cadastrada</h3>
    {% endif %}
</div>
{% endblock %}
