{% extends "template.html" %}
{% block title %}
Início
{% endblock %}
{% block main %}
<div class="return-page">
    <a href="{% url "index" %}" id="return-icon"><i class="fa-solid fa-arrow-left" aria-hidden=true ></i></a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Controle o cardápio</h1>
        </div>
    </div>
    <div class="row text-center mt-6">
        <div class="col-md-6 mt-6 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestão de Categorias</h5>
                    <p class="card-text">Cadastre, edite e exclua as categorias de seu restaurante.</p>
                    <a href="{% url "category" %}" class="btn btn-primary">Ver Categorias</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestão de Itens</h5>
                    <p class="card-text">Organize e cadastre seus itens de acordo com suas categorias.</p>
                    <a class="btn btn-primary">Ver Itens</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
