{% extends "template.html" %}
{% block title %}
Pedido
{% endblock %}
{% block main %}
<div class="return-page">
    <a href="{% url "index" %}" id="return-icon"><i class="fa-solid fa-arrow-left" aria-hidden=true ></i></a>
 </div>
<div class="container mt-5">
    <h2>Cadastrar Pedido</h2>
    <form method="post">
        {% csrf_token %}
        <h3>Crie novo pedido</h3>
        {{ form.as_p }}
    
        <h4>Adicione itens ao pedido</h4>
        {{ formset.management_form }}
        {% for form in formset %}
            {{ form.as_p }}
        {% endfor %}
    
        <button class="btn btn-success" type="submit">Faça o pedido!</button>
    </form>
</div>
{% endblock %}
