{% extends "template.html" %}
{% block title %}
Reservas
{% endblock %}
{% block main %}
<div class="return-page">
    <a href="{% url "index" %}" id="return-icon"><i class="fa-solid fa-arrow-left" aria-hidden=true ></i></a>
</div>
<div class="container mt-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4">Controle as reservas</h1>
        </div>
    </div>
    <div class="row text-center mt-6">
        <div class="col-md-6 mt-6 mt-md-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestão das Mesas</h5>
                    <p class="card-text">Cadastre, edite e exclua mesas de seu restaurante.</p>
                    <a href="{% url "table" %}" class="btn btn-primary">Ver Mesas</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Gestão das Reservas</h5>
                    <p class="card-text">Organize e cadastre as reservas para seus clientes.</p>
                    <a href="{% url "reservation" %}" class="btn btn-primary">Ver Reservas</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
