{% extends "template.html" %}
{% block title %}
Mesas
{% endblock %}
{% block main %}
<div class="return-page">
    <a href="{% url "index" %}" id="return-icon"><i class="fa-solid fa-arrow-left" aria-hidden=true ></i></a>
 </div>
<div class="container mt-5">
    <h2>Cadastrar Mesas</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
    {% if tables %}
        <h3 class="mt-5">Lista de Mesass</h3>
        <ul class="list-group mt-3">
            {% for table in tables %}
            <li id="table-{{table.id}}" class="list-group-item">
                <div>
                    Número: {{ table.number }} <br> Capacidade: {{ table.capacity }} <br> Disponível? {% if table.is_available %}Sim {% else %}Não{% endif %} <br> Criado em: {{ table.created_at|date:"d/m/Y" }}
                </div>
                <div>
                    <a class="edit-table ed" href="{% url "edit_table" table.id %}" data-table="{{table.id}}">
                        <i class="fa-solid fa-pencil"></i>
                    </a>
                    <span data-table="{{table.id}}" class="remove-table rm" id="remove-{{table.id}}">
                        <i class="fa-solid fa-x"></i>
                    </span>
                </div>
            </li>
            {% endfor %}
        </ul>
    {% endif %}
</div>
{% endblock %}
